<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Amarante|Grenze|New+Rocker|Righteous&display=swap');
    </style>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="circle">
          <br />
          the blood
          <br />
          is the 
          <br />
          life
        </div>
      </div>
      <div class="col-4 slogan">
        splurting out inspirational-ish quotes about vampires since 2019
      </div>
      <div class="col-5 links">
        <%= link_to 'contribute', '#' %>
        <%= link_to 'about', '#' %>
      </div>
    </header>

    <hr />

    <br class="clear" />

    <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <%= link_to "This isn't enough, I need more", "#", class: 'next-quote' %>
        </div>
        <div class="col-6 footer-blurb">
          Proudly risen from the dead by <a href="https://shannakershner.netlify.com">Shanna Kershner</a><br />
          Want to build your own Splurty web app? - <a href="https://online.bootcampspot.com">Learn how to code here, blah!</a>
      </div>
    </div>
  </div>
  </body>
</html>
